:root {
    --text: #daf6ec;
    --background: #000000;
    --primary: #b62b5e;
    --secondary: #250d09;
    --accent: #ca2fb6;
}

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: var(--background);
}

p, a {
    color: var(--text);
    font-size: 1rem;
}

.nav {
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.section {
    text-align: center;
}

.nav-title {
    text-transform: lowercase;
    text-align: center;
    margin: 0.5em;
    margin-top: 0;
    color: var(--primary);
    font-weight: 200;
    font-size: 3rem;
}

.nav-title::after {
    content: '.'
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: right;
}

.nav-link {
    padding: 5px;
    text-transform: uppercase;
    transition: all 0.3s;
}

.nav-link-selected {
    font-weight: 600;
    color: var(--primary);
    
}

.nav-link:hover {
    color: var(--primary);
}

.content {
    max-width: 800px;
    margin: auto;
    padding: 1em;
}

.section-about-me {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-title {
    text-align: center;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--primary);
}

.section-text {
    text-align: center;
    margin: 0.5em;
}

.btn {
    padding: 0.5em;
    text-transform: uppercase;
    background: var(--accent);
    color: white;
    border-radius: 10px;
    transition: all 0.3s;
}

.btn-about-me {
    width: fit-content;
    margin: auto;
}

.image-about-me {
    margin: auto;
}

.btn:hover {
    color: var(--text);
    background: var(--secondary);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.content-projects {
    max-width: 100%;
}

.section-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    display: grid;
    grid-template-rows: 1fr min-content min-content;
    grid-template-areas:
    "text"
    "image"
    "link";
    gap: 5px;
    margin: 1em;
    border: 1px solid black;
    padding: 5px;
    max-width: 300px;
    text-align: center;
}

.img-project {
    grid-area: image;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    margin-bottom: 10px;
}

.btn-project {
    grid-area: link;
    width: fit-content;
    margin: auto;
}

.project-text {
    grid-area: text;
    margin-left: 0.25em;
}

.project-title {
    color: var(--primary);
    margin-top: 0;
    font-weight: 300;
    text-transform: lowercase;
}
.projects-intro {
    text-align: center;
}

.section-qualifications {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
    "title-skills resume title-interests"
    "text-skills resume text-interests";
    gap: 20px;
}

.content-qualifications {
    max-width: 1000px;
}

.resume {
    grid-area: resume;
}

.section-title-skills {
    grid-area: title-skills;
}

.section-text-skills {
    grid-area: text-skills;
}

.section-title-interests {
    grid-area: title-interests;
}

.section-text-interests {
    grid-area: text-interests;
}

.section-service {
    display: flex; 
    flex-direction: column;
    margin: 0.5em;
}

.img-service {
    width: 50%;
    margin: auto;
}

.section-text-service {
    text-align: left;
    margin: 0.25em 1em;
}

.link-inline {
    color: var(--primary);
}